
@{
    ViewBag.Title = "Home";
}

<h2 style="text-align:center; ">Employee Dash Board</h2>


<head>
<style>
    .button {
        background-color: #C0C0C0; 
        border: none;
        color: white;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 30px;
        margin: 4px 2px;
        cursor: pointer;
        
    }

    .button1 {
        border-radius: 2px;
    }

    .button2 {
        border-radius: 4px;
    }

</style>
</head>
<body>


    <button class="button button1">@Html.ActionLink("Add New Employees", "AddEmployees")</button>
    <button class="button button2">@Html.ActionLink("See Employee List", "List")</button>


</body>

