
@{
    ViewBag.Title = "Home";
}

<h2 style="text-align:center;">Employee Dash Board</h2>

<td>
    <table>

        <tr>

            <td>@Html.ActionLink("Add New Employees", "AddEmployees")</td>

        </tr>

        <tr>

            <td>@Html.ActionLink("See Employee List", "List")</td>

        </tr>

       

    </table>
</td>

