
@{
    ViewBag.Title = "ResIndex";
}


<h2 style="text-align:center;">Restaurant Dash Board</h2>


    <table>

        <tr>

            <td style="font-size:30px">@Html.ActionLink("Make Food Request", "MakeFoodRequest")</td>

        </tr>

        <tr>

            <td style="font-size:30px">@Html.ActionLink("All Order Lists", "OrderLists")</td>

        </tr>



    </table>
