
@{
    ViewBag.Title = "LandingPage";
}

<h2 style="text-align:center;">Welcome To Zero Hunger Application</h2>

<style>
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>
 <img src="/Content/icon.JPG"  height="500" />
   




